<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Recupera칞칚o de Senha</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img class="logo" src="https://hom.deovita.com.br/breno/deovita/img/logo_deovita_horizontal_color_full.svg" alt="Logo Deovita - Sa칰de Inteligente">
      </div>
      <div class="body">
        <div class="box">
          <h1 class="title">Tentativa suspeita de altera칞칚o de senha</h1>
          <div class="box-agroup">
            <p class="paragraph">Ol치</p>
            <p class="paragraph">Notamos uma tentativa de trocar a senha da sua conta, mas o c칩digo inserido estava incorreto. 游땳</p>
          </div>
        </div>
        <div class="box-center">
          <i class="fa-solid fa-user-xmark icon"></i>
          <div class="box-agroup-center">
            <h3 class="mini-title">N칚o foi voc칡?</h3>
            <p class="paragraph-center">Sem problemas! Clique no bot칚o abaixo para bloquear essa tentativa e manter sua conta segura.</p>
          </div>
          <a href="{{redirect_url}}" class="button -outline">N칚o fui eu</a>
        </div>
        <div class="box-fill-center">
          <i class="fa-solid fa-triangle-exclamation icon"></i>
          <div class="box-agroup-center">
            <h2 class="subtitle">Precisa de ajuda?</h2>
            <p class="paragraph-center">Se tiver qualquer d칰vida, nossa equipe est치 por aqui. <br />游비游눜</p>
            <button class="button -primary">Falar com suporte</button>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="box-fill-center">
          <img class="logo" src="https://hom.deovita.com.br/breno/deovita/img/favicon_deovita_symbol.png" alt="Logo Deovita - Sa칰de Inteligente">
          <div class="box-agroup-center">
            <h3 class="mini-title">Entre no nosso site</h3>
            <p class="paragraph-center"><a href="#">deovita.com.br</a></p>
          </div>
          <div class="box-agroup">
            <p class="legend">춸 Deovita - Todos os direitos reservados.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
