<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Senha atualizada com sucesso</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img class="logo" src="https://hom.deovita.com.br/breno/deovita/img/logo_deovita_horizontal_color_full.svg" alt="Logo Deovita - Sa칰de Inteligente">
      </div>
      <div class="body">
        <div class="box">
          <h1 class="title">Sua senha foi atualizada com sucesso 游댏</h1>
          <div class="box-agroup">
            <p class="paragraph">Ol치!</p>
            <p class="paragraph">Pronto! Sua nova senha foi atualizada com sucesso e j치 est치 valendo em nosso sistema.</p>
            <p class="paragraph">Agora 칠 s칩 manter essa informa칞칚o guardada em um local seguro. Se preferir, utilize um gerenciador de senhas para facilitar o acesso com seguran칞a.</p>
          </div>
        </div>
        <div class="line-horizontal"></div>
        <div class="box-fill-center">
          <i class="fa-solid fa-circle-check icon"></i>
          <h2 class="subtitle">Precisa de ajuda?</h2>
          <p class="paragraph-center">Se tiver qualquer d칰vida ou n칚o reconhece essa a칞칚o, fale com nosso time de suporte.</p>
        </div>
        <div class="footer">
          <div class="box-fill-center">
            <img class="logo" src="https://hom.deovita.com.br/breno/deovita/img/favicon_deovita_symbol.png" alt="Logo Deovita - Sa칰de Inteligente">
            <div class="box-agroup-center">
              <h3 class="mini-title">Entre no nosso site</h3>
              <p class="paragraph-center"><a href="#">deovita.com.br</a></p>
            </div>
            <div class="box-agroup">
              <p class="legend">춸 Deovita - Todos os direitos reservados.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
