<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Alerta de segurança</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img class="logo" src="https://hom.deovita.com.br/breno/deovita/img/logo_deovita_horizontal_color_full.svg" alt="Logo Deovita - Saúde Inteligente">
      </div>
      <div class="body">
        <div class="box">
          <h1 class="title">Detectamos uma nova atividade na sua conta</h1>
          <div class="box-agroup">
            <p class="paragraph">Olá, {{name}}</p>
            <p class="paragraph">Notamos um novo login na sua conta DeoVita. Se essa tentativa foi feita por você, não se preocupe, nenhuma ação é necessária. Se não reconhece essa atividade, estamos prontos para te ajudar a proteger sua conta.</p>
          </div>
        </div>
        <div class="line-horizontal"></div>
        <div class="box-center">
          <i class="fa-solid fa-map-location-dot icon"></i>
          <div class="box-agroup-center">
            <p class="mini-title -light">Login em</p>
            <h2 class="title">Iguatu/CE</h2>
          </div>
          <div class="box-agroup-center">
            <a href="#" class="button -outline">Não reconheço</a>
          </div>
        </div>
        <div class="box-fill-center">
          <i class="fa-solid fa-triangle-exclamation icon"></i>
          <h2 class="subtitle">Sua segurança é prioridade para nós</h2>
          <p class="paragraph-center">Ficou com alguma dúvida ou quer revisar os acessos da sua conta? Entre em contato com a gente ou acesse seu perfil para mais detalhes.</p>
          <button class="button -primary">Acessar sua conta</button>
        </div>
      </div>
      <div class="footer">
        <div class="box-fill-center">
          <img class="logo" src="https://hom.deovita.com.br/breno/deovita/img/favicon_deovita_symbol.png" alt="Logo Deovita - Saúde Inteligente">
          <div class="box-agroup-center">
            <h3 class="mini-title">Entre no nosso site</h3>
            <p class="paragraph-center"><a href="#">deovita.com.br</a></p>
          </div>
          <div class="box-agroup">
            <p class="legend">© Deovita - Todos os direitos reservados.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
