<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Recuperação de Senha</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img class="logo" src="https://hom.deovita.com.br/breno/deovita/img/logo_deovita_horizontal_color_full.svg" alt="Logo Deovita - Saúde Inteligente">
      </div>
      <div class="body">
        <div class="box">
          <h1 class="title">Solicitação para redefinir sua senha 🔐 </h1>
          <div class="box-agroup">
            <p class="paragraph">Olá, user!</p>
            <p class="paragraph">Recebemos um pedido para redefinir a senha da sua conta DeoVita. Se foi você, é só usar o código abaixo para continuar:</p>
          </div>
        </div>
        <div class="line-horizontal"></div>
        <div class="box-center">
          <i class="fa-solid fa-key icon"></i>
          <div class="box-agroup-center">
            <p class="mini-title -light">Esse código é temporário e expirará em breve, então recomendamos que finalize o processo o quanto antes.</p>
            <h2 class="title code">12H4F6</h2>
          </div>
          <div class="box-agroup-center">
            <p class="paragraph">Ou acesse</p>
            <a href="#" class="button -outline">Prontuário - recuperação</a>
          </div>
        </div>
        <div class="box-fill-center">
          <i class="fa-solid fa-triangle-exclamation icon"></i>
          <h2 class="subtitle">Não foi você?</h2>
          <p class="paragraph-center">Sem problemas. Basta ignorar este e-mail e sua conta seguirá segura.</p>
        </div>
        <div class="footer">
          <div class="box-fill-center">
            <img class="logo" src="https://hom.deovita.com.br/breno/deovita/img/favicon_deovita_symbol.png" alt="Logo Deovita - Saúde Inteligente">
            <div class="box-agroup-center">
              <h3 class="mini-title">Entre no nosso site</h3>
              <p class="paragraph-center"><a href="#">deovita.com.br</a></p>
            </div>
            <div class="box-agroup">
              <p class="legend">© Deovita - Todos os direitos reservados.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
